@import "styles/base/_variables.scss";
@import "styles/base/_base.scss";

.filter-container {
  font-family: $text;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;

  select {
    height: 50px;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    &:focus-visible {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
