@import "styles/base/_variables.scss";
@import "styles/base/_base.scss";

.form {
  background-color: $dark1;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: $text;
  margin-bottom: 40px;

  h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    select {
      height: 40px;
      max-width: 300px;
      border-radius: 6px;
      border-style: none;
      padding: 10px;
      &:focus-visible {
        outline: none;
      }
    }

    input.invalid {
      outline: 2px solid $error;
    }
    select.invalid {
      outline: 2px solid $error;
    }
    label.invalid {
      color: $error;
    }
  }

  .button-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .error-message {
    color: $error;
  }
}

// .form-input.invalid label {
//   color: red;
// }

// .form-input.invalid input {
//   border-color: red;
// }
