@import "styles/base/_variables.scss";
@import "styles/base/_base.scss";

.profile-view {
  .arrow {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    width: 80px;
    fill: white;
    rotate: 270deg;
  }

  .profile-container {
    background-color: $dark1;
    border-radius: 8px;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
    padding: 40px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: $text;
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .data-container {
      display: flex;
      gap: 40px;

      .profile-image {
        height: 360px;
        width: 360px;
        border-radius: 8px;
        object-fit: cover;
      }

      .profile-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          margin-bottom: 6px;
        }

        h3 {
          font-size: 24px;
        }
      }
    }
  }
}
