@import "src/styles/base/_variables.scss";
@import "src/styles/base/_base.scss";

.add-button {
  height: 80px;
  border-radius: 8px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
