@import "styles/base/_variables.scss";
@import "styles/base/_base.scss";

.filter-container {
  font-family: $text;
  margin: 26px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  select {
    height: 40px;
    border-radius: 6px;
    border-style: none;
    padding: 10px;
    max-width: 230px;
    width: 100%;
    &:focus-visible {
      outline: none;
    }
  }
}
