@import "src/styles/base/_variables.scss";
@import "src/styles/base/_base.scss";

.character-card {
  background-color: $dark1;
  height: 370px;
  width: 235px;
  border-radius: 8px;
  list-style: none;
  .character-img {
    height: 230px;
    width: 235px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  .character-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    height: 134px;
    padding: 16px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      line-height: 24px;
    }
  }

  a {
    color: $button;
    font-size: 16px;
  }
}
