@import './styles/base/_reset.scss';
@import './styles/base/_variables.scss';
@import './styles/base/_base.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: #52307c;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; 
} */
