@import 'src/styles/base/_variables.scss';

body {
    color: white;
}

h1, h2 {
    @include franklin-font;
}

p {
    font-family: $text;
}

button {
    height: 40px;
    padding: 0 30px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    color: white;
    background-color: blue;
    @include franklin-font;
}