@import "src/styles/base/_variables.scss";

body {
  color: white;
}

h1,
h2 {
  font-family: $title;
}

p {
  font-family: $text;
}

button {
  height: 40px;
  padding: 0 30px;
  border-radius: 6px;
  font-family: $text;
  border: none;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
  background-color: blue;
  max-width: 230px;
  width: 100%;
}
